body {
    background-image: url("../img/ingredienten-background.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
    text-align: center;
}

h1,	p, ol {
    color: white;
    text-align: center;
}

h4  {
    color: rgb(209,3,3);
}

li a {
    display: block;
    color: white;
    padding: 16px 16px;
    text-decoration: none;
}

li a.active {
    background-color: black;
    color: white;
}

li a:hover:not(.active) {
    background-color: black;
    opacity: 0.5;
    color: white;
}

th, td  {
    color: black;
}

#info {
    background-color: white;
    border: 5px double;
    opacity: 0.5;
    color: black;
    text-align: justify;
    font-size: 30px;
    list-style-type: none;
    width: 350px;
    height: 150px;
    float: right;
    margin: 0 auto;
}

#sidebar {
    text-align: left;
    list-style-type: none;
    float: left;
    padding: 0;
    width: 10%;
    position: fixed;
    height: 40%;
    overflow: auto;
}

#sandwich {
    width: 750px;
    height: 500px;
    border: 5px double;
    margin: 0 auto;
}

#ingredientlist {
    background-color:white;
    opacity: 0.7;
    text-align: justify;
    font-size: 25px;
    width: 350px;
    height: 250px;
    text-align: justify;
    list-style-type: none;
    border: 5px double;
    border-color: black;
    background
    padding: 30px;
    margin: 0 auto;
}

#stap-voor-stap {
    background-color: white;
    text-align: justify;
    color: black;
    font-size: 25px;
    width: 800px;
    height: auto;
    margin: auto;
    padding: 35px;
    border: 5px double;
    opacity: 0.7;
}

#waarden {
    margin: auto;
    font-size: 30px;
    width: 30%;
    opacity: 0.7;
    text-shadow: 1px 1px red;
    padding: 10px;
    background-color: white;
}



